{% extends "layout.html" %}
{% block title %}Clarification{% endblock %}
{% block content %}

<div id='page-title'>
  Looks like we found multiple beers that match what you entered!<br>
  <span id='line-space'></span>
  Please select the beers that seem right.
</div>
<br>
<form action="{{ url_for('clarified') }}" method="POST" name="clarify-beer">
{% for i in range(requested_beers|length) %}
  <div class="beer-group">
    <div class='beer-title'>
      <h2>{{ requested_beers[i] }}</h2>
    </div>
  {% for j in range(clarity_array[i]|length) %}
    <!--<div class='beer-button'> -->
      <input type="radio" name="{{ requested_beers[i] }}" value="{{ clarity_array[i][j] }}" id="{{ clarity_array[i][j] }}"/>
    <label for="{{ clarity_array[i][j] }}">{{ clarity_array[i][j] }}</label><br>
    <!-- </div> -->
  {% endfor %}
  </div>
{% endfor %}
 <br><input id='clar-button' type='submit' value='Continue' name='submit' class='fsSubmitButton'>
</form>

{% endblock %}
    
