* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f4fbfb;
}

#username,
#password,
#login {
  position: absolute;
  margin-left: 30%;
}

#username {
  margin-top: 15%;
}

#password {
  margin-top: 20%;
}

#login {
  margin-top: 25%;
}

a {
  font-size: 2em;
  position: absolute;
  text-decoration: none;
  color: #2c4a52;
  margin-top: 100px;
  margin-left: 60%;
}

a:first-child {
  margin-left: 30%;
}


a:clicked {
  color: #2c4a52;
}

#top-border {
  height: 10px;
  width: 100%;
  background-color: #9db8b8; 
  color: white;
  font-size: 2em;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid white;
}

.form-container {
  margin: auto;
  margin-top: 10%;
  padding: 10px;
  width: 40%;
  background-color: #9db8b8; 
  border-radius: 4%;
}

#beer-title {
  color: #f4fbfb;
  font-size: 1.3em;
/*  margin-left: 27%;*/
/*  margin-bottom: 5px;*/
  margin-top: 15px;
  text-align: center;
}

.change-num {
  margin-top: 10px;
  display: inline-block;
}

input[type='text'] {
  position: relative;
  display: block;
/*  margin-left: 25%;*/
/*  margin-top: 10px;*/
  color: #2c4a52;
  height: 40px;
  width: 90%;
  font-size: 1.1em;
  margin: 0 auto;
/*  padding-left: 10px;*/
}

input[type='submit'] {
  position: relative;
/*  padding-top: 5px;
  padding-bottom: 5px;*/
  border-color: #dceaea;
  background-color: #dceaea;
  color: #2c4a52;
  font-size: 1.3em;
  height: 3em;
  width: 8em;
/*  margin-left: 33%;*/
  display: block;
  margin: 0 auto;
  clear: both;
}

#subtract-beer {
/*  margin-top: 20px;
  margin-left: 35%;*/
/*  position: absolute;*/
/*  margin: 0 20%;
float:left;*/
  position: absolute;
  left: 30%;

}

#add-beer {
/*  margin-top: 20px;
  margin-left: 10%;
  position: absolute;
  float: right;*/
  position: absolute;
  right: 30%;
}

.beer-group {
/*  margin-left: 27%;
  margin-top: 20px;*/
  margin-bottom: 20px;
}

#line-space {
  height: 25px;
  display: block;
}
#page-title {
  font-size: 1.5em;
  color: #2c4a52;
/*  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 2%;*/
  margin: 4% auto 0;
  text-align: center;

}

.beer-title {
  width: 100%;
  height: 80px;
  padding-top: 5px;
/*  padding-left: 10px;*/
  background-color: #2c4a52;
  color: #f4fbfb;
  text-align: center;
  margin-top: 7%;

}

form[name='clarify-beer']{
  position: relative;
  width: 40%;
  margin: 0 auto;
}

input[type='radio']:checked + label {
  background-color: red; 
}

input[type='radio']:focus {
  outline: 0;
}

input[type='radio']{
  margin-left: -1900px;
  visibility: hidden;
  float: left;
}

label {
  position: absolute; 
  display: block;
/*  padding-top: 10px;*/
  padding: 2%;
  max-height: 40px;
  width: 100%;
  background-color: #dceaea; 
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  float: left;

}

#clar-button {
  display: block;
  margin: 0 auto;
}

.add-sub {
  width: 80%;
  display: block;
  position: relative;
  min-height: 40px;
  margin: 0 auto;
}
